@mixin breakpoint-up {
  @media (min-width: 848px) {
    @content;
  }
}

@mixin hide-md {
  @include breakpoint-up {
    display: none;
  }
}

@mixin show-md($display: block) {
  display: none;
  @include breakpoint-up {
    display: $display;
  }
}